body {
    margin: 0;
    line-height: normal;
}
@font-face {
    font-family: 'Akkurat';
    src: url('.fonts/Akkurat.woff2') format('woff2'),
         url('./fonts/Akkurat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
     font-family: 'Canela-Regular', serif;;
    src: url('./fonts/canela-regular-trial-webfont.woff2') format('woff2'),
         url('./fonts/canela-regular-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Canela-RegularItalic';
    src: url('./fonts/canela-regularitalic-trial-webfont.woff2') format('woff2'),
         url('./fonts/canela-regularitalic-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  html, body {
     margin: 0;
     padding: 0;
     overflow-x: hidden;
     overflow-y: auto;
   }
   @media only screen and (min-width: 1536px) and (max-width: 3456px) {
     .menu-toggle {
          position: absolute;
          top: 74px;
          right: 70px;
          height: 34px;
          width: 80px; /* wider hamburger */
        }
        .menu-toggle .bar {
          height: 6px;
          width: 100%;
          background-color: rgb(255, 255, 255);
          border-radius: 0px;
          gap: 1px;
    }
   }